snippet rb "Ruby block" b
\`\`\`ruby$0
\`\`\`
endsnippet

snippet js "JS block" b
\`\`\`js$0
\`\`\`
endsnippet

snippet ht "HTML block" b
\`\`\`html$0
\`\`\`
endsnippet

snippet jd "Jade block" b
\`\`\`jade$0
\`\`\`
endsnippet
